aside
  section
    h4 Health News
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   et dolore magna aliqua.
  section
    h4 Healthy Recipes
    a(href='') grilled chicken
    a(href='') minced beef patties
    a(href='') potato pancakes
    a(href='') fish stew
